
#login-form {
    gap: 1rem;
    width: 100%;
    display: grid;
    max-width: 450px;

    .input-area {
        gap: .3rem;
        display: grid;

        input {
            padding: 1rem;
            font-size: 1em;
            border-radius: .7rem;
            border: 1px solid #ddd;
        }
    }

}
