* {
    box-sizing: border-box;
}

:root {
    --text-dark: #2C293D;
    --text-light: #6A7282;

    /*fonts size*/
    --header-h1: 1.8rem;


    /* colors */
    --white: #fff;
    --color-green-theme-100: #DAF2E0;
    --color-green-theme-200: #6CCD85;
    --color-green-theme-300: #399A52;
    --color-green-theme-400: #1C4D29;
    --color-green-theme-500: #0E2614;
    --color-green-theme-600: #060f08;
}

body {
   line-height: 1.5;

}

.wrapper {
    
}

.header {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: -1px;
    margin-top: 2rem;
    color: var(--text-dark)
}

.headerDis {
    color: var(--text-light);
    font-size: 1rem;
    margin-bottom: 3rem;
}

.summaryData{
    background-color: var(--color-white);
    width: 100%;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.summary {
    padding: 2rem;
    background-color: #6CCD85;
    border-radius: 20px;
}
