
table {
	width: 100%;
	overflow: hidden;
	border-radius: .6rem;

	thead {
		/* background: var(--color-theme-100); */
		/* th { color: var(--color-theme-300); } */
        border-bottom: 1px solid #ddd;
	}

	td, th {
		padding: 1rem;
		font-size: .9em;
		white-space: nowrap;
		text-align: start;
	}

	tr th:nth-last-child(1),
	tr td:nth-last-child(1) {
		text-align: center;
	}

	tbody tr:nth-child(even) {
		background: #f9f9f9;
	}

	tbody tr:hover {
		color: var(--color-dark-200);
		background:  var(--color-theme-100) !important;
		/* outline: 1px solid var(--color-dark-200) !important; */
	}
}
